/* Footer */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;

	width: 100vw;
	height: 30px;

	background-color: #313338;
	border-top: 2px dashed #AAABAE;
}
.footer .insidefooter {
	position: absolute;
	width: 90%;
	left: 5%;

	margin-top: 8px;

	text-align: center;
}
.footer .insidefooter p {
	margin: 0;
	padding: 0;

	color: #d2d3d6;
	font-size: 14px;
}
.footer .insidefooter a {
	color: #038CCF;
	font-weight: bold;
	text-decoration: none;
}
.footer .insidefooter a:hover {
	filter: brightness(80%);
}

/* Utility */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}