html, body {
    height: 100%;
    width: 100%;
}
body {
    position: absolute;
    top: 0;
    margin: 0;
    color: white;
    background-color: #313338;
}

/* Banner */
.banner {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 180px;

    background-color: #616AAE;
}
.header .banner-circle {
    position: absolute;
    z-index: -1;
    top: -40px;
    left: calc(50% - 500px);
    width: 1000px;
    height: 500px;

    background-color: #313338;
    border-top-left-radius: 450px;
    border-top-right-radius: 450px;

    overflow: visible;
}
@media (max-width: 1000px) {
    .header div.banner-circle {
        left: 10px;
        width: calc(100% - 20px);
        height: 80vw;
    }
}

/* Header */
.header {
    position: relative;
    z-index: 10;
    margin: 80px 0 40px 0;

    font-family: sans-serif;
    text-align: center;
}
.header .inside {
    display: inline-block;
}
.header .top {
    position: relative;
}
.header .top h1 {
    display: inline-block;
    padding: 0 20px 5px 20px;
    margin-bottom: 40px;

    border-bottom: 2px solid white;
}
.header .bottom {
    position: relative;
    left: calc(50% - 250px);
    width: 500px;
}
.header .bottom p {
    margin: 0;
}
@media (max-width: 600px) {
    .header div.inside {
        margin-top: 60px;
    }
}
@media (max-width: 520px) {
    .header div.bottom {
        left: 10px;
        width: calc(100% - 20px);
    }
}

/* Cards */
.cards {
    position: relative;
    z-index: 10;
    display: grid;
    place-items: center;

    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: sans-serif;
}
.cards * {
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    min-height: 400px;
    text-align: center;
    color: whitesmoke;
    background-color: #313338;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);

    background-size: cover;
    background-image: url(/assets/images/cards/card_default.png);
    background-position: center top;

    border-radius: 5px;
}
.card div {
    flex-direction: row;
}
@media (min-width: 600px) {
    .card {
        height: 450px;
    }
}

.card .content {
    min-height: 280px;
    width: 100%;
}
@media (max-width: 450px) {
    .card div.content {
        min-height: 240px;
    }
}
@media (min-width: 450px) and (max-width: 500px) {
    .card div.content {
        min-height: 220px;
    }
}
@media (min-width: 500px) and (max-width: 550px) {
    .card div.content {
        min-height: 200px;
    }
}
@media (min-width: 550px) and (max-width: 600px) {
    .card div.content {
        min-height: 180px;
    }
}

.content button {
    position: absolute;
    bottom: 22px;

    width: 120px;

    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;

    color: white;
	background: #5865F2;

	border-radius: 5px;
	border: none;
}
.content button.disabled {
	filter: brightness(50%);
}
.content button:not(.disabled):hover {
	filter: brightness(80%);
	cursor: pointer;
}

.content button.left {
    left: calc(50% - 130px);
}
.content button.right {
    right: calc(50% - 130px);
}