body {
    color: white;
    background-color: #313338;
}

.wrapper {
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 200px);
    width: 600px;
    height: 400px;
}

.inside {
    width: 100%;
    height: 100%;

    text-align: center;
}

.header h1,
.header h3 {
    margin: 0;
}

.products .product {
    margin-top: 30px;
}
.products .product img {
    border-radius: 8%;
}
.products .product img:hover {
    filter: brightness(120%);
}